In [6]:
import pandas as pd
from sklearn.metrics import confusion_matrix
import numpy as np
import env

# 2.) Given the following confusion matrix, evaluate (by hand) the model's performance.

- In the context of this problem, what is a false positive?
- In the context of this problem, what is a false negative?
- How would you describe this model?

In [7]:
tp = 46
fp = 34
fn = 13
tn = 7

In [8]:
precision = tp/(tp+fp)
print(precision)

0.575

In [9]:
recall = tp/(tp+fn)
recall

0.7796610169491526

In [10]:
accuracy = (tp+tn)/(tp+fp+fn+tn)
accuracy

0.53

In [11]:
specificity = tn/(fp+tn)
specificity

0.17073170731707318

## 3.) You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.
## Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.
## Use the predictions dataset and pandas to help answer the following questions:
- An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?
- Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [1]:
import os
import pandas as pd
import numpy as np

In [3]:
filename = "c3.csv"

df = pd.read_csv(filename)
df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   actual  200 non-null    object
 1   model1  200 non-null    object
 2   model2  200 non-null    object
 3   model3  200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB

In [5]:
df = pd.DataFrame(df)
df

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

In [6]:
df.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [7]:
df.model1.value_counts()

No Defect    190
Defect        10
Name: model1, dtype: int64

In [8]:
df.model2.value_counts()

No Defect    110
Defect        90
Name: model2, dtype: int64

In [9]:
df.model3.value_counts()

No Defect    101
Defect        99
Name: model3, dtype: int64

In [10]:
pd.crosstab(df.model1, df.actual)

actual     Defect  No Defect
model1
Defect          8          2
No Defect       8        182

In [11]:
df['baseline'] = 'Defect'
model1_accuracy = (df.model1 == df.actual).mean()
model2_accuracy = (df.model2 == df.actual).mean()
model3_accuracy = (df.model3 == df.actual).mean()
baseline_accuracy = (df.baseline == df.actual).mean()


print(baseline_accuracy)
print(model1_accuracy)
print(model2_accuracy)
print(model3_accuracy)

0.08
0.95
0.56
0.555

In [12]:
# they want defects to be the main item to look at.
# Recall would be the evaluation metric to look at
subset = df[df.actual == 'Defect']
model1_recall = (subset.model1 == subset.actual).mean()
model2_recall = (subset.model2 == subset.actual).mean()
model3_recall = (subset.model3 == subset.actual).mean()
baseline_recall = (subset.baseline == subset.actual).mean()


print(baseline_recall)
print(model1_recall)
print(model2_recall)
print(model3_recall)
print(f'We would use model3_recall to find the defects')

1.0
0.5
0.5625
0.8125
We would use model3_recall to find the defects

In [13]:
#model1 breakdown
subset = df[df.model1 == 'Defect']
model1_precision = (subset.model1 == subset.actual).mean()

subset = df[df.baseline == 'Defect']
baseline_precision = (subset.baseline == subset.actual).mean()

print(f'model precision: {model1_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

model precision: 80.00%
baseline precision: 8.00%

In [14]:
#model2 breakdown
subset = df[df.model2 == 'Defect']
model2_precision = (subset.model2 == subset.actual).mean()

subset = df[df.baseline == 'Defect']
baseline_precision = (subset.baseline == subset.actual).mean()

print(f'model precision: {model2_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

model precision: 10.00%
baseline precision: 8.00%

In [15]:
#model3 breakdown
subset = df[df.model3 == 'Defect']
model3_precision = (subset.model3 == subset.actual).mean()

subset = df[df.baseline == 'Defect']
baseline_precision = (subset.baseline == subset.actual).mean()

print(f'model precision: {model3_precision:.2%}')
print(f'baseline precision: {baseline_precision:.2%}')

model precision: 13.13%
baseline precision: 8.00%

In [16]:
print(f' precision would be used here and so would Model 1 for its 80% model precision')

 precision would be used here and so would Model 1 for its 80% model precision

## 4.) At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. 
- First an automated algorithm tags pictures as either a cat or a dog (Phase I).
Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).
Several models have already been developed with the data, and you can find their results here.
Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

- In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?
- Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?
- Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

In [18]:
paws = pd.read_csv('gives_you_paws.csv')

paws = pd.DataFrame(paws)
paws

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [19]:
paws.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [20]:
paws.columns

Index(['actual', 'model1', 'model2', 'model3', 'model4'], dtype='object')

In [21]:
paws['baseline'] = 'dog'
model1_accuracy = (paws.model1 == paws.actual).mean()
model2_accuracy = (paws.model2 == paws.actual).mean()
model3_accuracy = (paws.model3 == paws.actual).mean()
model4_accuracy = (paws.model4 == paws.actual).mean()
baseline_accuracy = (paws.baseline == paws.actual).mean()


print(baseline_accuracy)
print(model1_accuracy)
print(model2_accuracy)
print(model3_accuracy)
print(model4_accuracy)

0.6508
0.8074
0.6304
0.5096
0.7426

In [22]:
subset = paws[paws.actual == 'dog']
model1_recall = (subset.model1 == subset.actual).mean()
model2_recall = (subset.model2 == subset.actual).mean()
model3_recall = (subset.model3 == subset.actual).mean()
model4_recall = (subset.model4 == subset.actual).mean()
baseline_recall = (subset.baseline == subset.actual).mean()


print(baseline_recall)
print(model1_recall)
print(model2_recall)
print(model3_recall)
print(model4_recall)
print(f'We would use model4_recall to find the puppies')

1.0
0.803318992009834
0.49078057775046097
0.5086047940995697
0.9557467732022127
We would use model4_recall to find the puppies

In [23]:
paws['baseline'] = 'cat'
model1_accuracy = (paws.model1 == paws.actual).mean()
model2_accuracy = (paws.model2 == paws.actual).mean()
model3_accuracy = (paws.model3 == paws.actual).mean()
model4_accuracy = (paws.model4 == paws.actual).mean()
baseline_accuracy = (paws.baseline == paws.actual).mean()


print(baseline_accuracy)
print(model1_accuracy)
print(model2_accuracy)
print(model3_accuracy)
print(model4_accuracy)

0.3492
0.8074
0.6304
0.5096
0.7426

In [24]:
subset = paws[paws.actual == 'cat']
model1_recall = (subset.model1 == subset.actual).mean()
model2_recall = (subset.model2 == subset.actual).mean()
model3_recall = (subset.model3 == subset.actual).mean()
model4_recall = (subset.model4 == subset.actual).mean()
baseline_recall = (subset.baseline == subset.actual).mean()


print(baseline_recall)
print(model1_recall)
print(model2_recall)
print(model3_recall)
print(model4_recall)
print(f'We would use model2_recall to find the cats')

1.0
0.8150057273768614
0.8906071019473081
0.5114547537227949
0.34536082474226804
We would use model2_recall to find the cats

In [29]:
from sklearn.metrics import classification_report

In [31]:
print("Model 1")

pd.DataFrame(classification_report(paws.actual, paws.model1,
                                  labels =['cat','dog'],
                                  output_dict=True)).T

Model 1

              precision    recall  f1-score    support
cat            0.689772  0.815006  0.747178  1746.0000
dog            0.890024  0.803319  0.844452  3254.0000
accuracy       0.807400  0.807400  0.807400     0.8074
macro avg      0.789898  0.809162  0.795815  5000.0000
weighted avg   0.820096  0.807400  0.810484  5000.0000

In [32]:
print("Model 2")

pd.DataFrame(classification_report(paws.actual, paws.model2,
                                  labels =['cat','dog'],
                                  output_dict=True)).T

Model 2

              precision    recall  f1-score    support
cat            0.484122  0.890607  0.627269  1746.0000
dog            0.893177  0.490781  0.633479  3254.0000
accuracy       0.630400  0.630400  0.630400     0.6304
macro avg      0.688649  0.690694  0.630374  5000.0000
weighted avg   0.750335  0.630400  0.631310  5000.0000

In [33]:
print("Model 3")

pd.DataFrame(classification_report(paws.actual, paws.model3,
                                  labels =['cat','dog'],
                                  output_dict=True)).T

Model 3

              precision    recall  f1-score    support
cat            0.358347  0.511455  0.421425  1746.0000
dog            0.659888  0.508605  0.574453  3254.0000
accuracy       0.509600  0.509600  0.509600     0.5096
macro avg      0.509118  0.510030  0.497939  5000.0000
weighted avg   0.554590  0.509600  0.521016  5000.0000

In [34]:
print("Model 4")

pd.DataFrame(classification_report(paws.actual, paws.model4,
                                  labels =['cat','dog'],
                                  output_dict=True)).T

Model 4

              precision    recall  f1-score    support
cat            0.807229  0.345361  0.483755  1746.0000
dog            0.731249  0.955747  0.828560  3254.0000
accuracy       0.742600  0.742600  0.742600     0.7426
macro avg      0.769239  0.650554  0.656157  5000.0000
weighted avg   0.757781  0.742600  0.708154  5000.0000

In [35]:
from sklearn.metrics import precision_score, recall_score

In [44]:
def calculate_precision(predictions, positive='dog'):
    """
    This function will: 
    - take in a model prediction 
    - defaulted pos class is dog
    - output the precision score
    """
    return precision_score(paws.actual, predictions, pos_label=positive)

In [45]:
def calculate_recall(predictions, positive='dog'):
    """
    This function will: 
    - take in a model prediction 
    - defaulted pos class is dog
    - output the recall score
    """
    return recall_score(paws.actual, predictions, pos_label=positive)

In [46]:
pd.concat([
    paws.loc[:, 'model1':'baseline'].apply(calculate_recall).rename('recall'),
    paws.loc[:, 'model1':'baseline'].apply(calculate_precision).rename('precision'),
], axis=1)

/opt/homebrew/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

            recall  precision
model1    0.803319   0.890024
model2    0.490781   0.893177
model3    0.508605   0.659888
model4    0.955747   0.731249
baseline  0.000000   0.000000